.list-item-container {
  height: 25%;
  width: 100%;
  display: flex;
  /* width: 100vw; */
  flex-direction: column;
  /* background-color: hotpink; */
}

.list-item-top {
  flex: 0.5;
}

.list-item-bottom {
  flex: 0.5;
}
