.main-add-stock-modal-container {
  height: 70vh;
  width: 70vw;
  /* width: 100vw; */
  display: flex;

  flex-wrap: wrap;

  flex-direction: column;
}

/* .main-add-stock-modal-container {
  height: 40vh;
  width: 70vw;
  display: flex;
  background-color: white;
  align-self: center;
} */
.main-add-stock-modal-upper {
  flex: 0.2;
  display: flex;
  /* width: 100%;
  margin: 200; */
  flex-direction: row;
  /* background-color: royalblue; */
}

.main-add-stock-modal-upper-left {
  flex: 0.5;
}

.main-add-stock-modal-upper-right {
  flex: 0.5;
  display: flex;
  width: 100%;
  margin: 200;
  justify-content: flex-end;
  align-content: flex-end;
  /* background-color: royalblue; */
}

.main-add-stock-modal-upper-box {
  /* margin: 200; */
  display: flex;
  /* padding-right: 15; */
  /* width: 40%;
  height: 60%; */
  justify-content: flex-end;
  /* background-color: green; */
}
.main-add-stock-modal-upper-button {
  /* margin: 200; */
  /* display: flex; */
  /* padding-right: 15; */
  width: 40%;
  height: 60%;
  margin: 15;
  justify-self: flex-end;
  background-color: green;
}

.main-add-stock-modal-body {
  flex: 0.8;
  width: 100%;
  display: flex;
  /* background-color: green; */
  flex-direction: row;
  flex-wrap: wrap;
}

.main-add-stock-modal-body-left {
  flex: 0.5;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
}

.main-add-stock-modal-body-right {
  flex: 0.5;
  /* height: 100%; */
  /* display: flex; */
  /* right: 0; */
  flex-direction: column;
  /* background-color: red; */
}
