.header-wrapper {
  display: flex;
  height: 5vh;
  width: 100%;
  overflow: hidden;
  /* position: fixed; */
}

.header-left-container {
  flex: 0.25;
  background-color: aqua;
}

.header-middle-container {
  flex: 0.5;
  background-color: green;
}

.header-right-container {
  flex: 0.25;
  background-color: red;
}
