.login-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page-title-container {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.login-page-title {
  z-index: 20;
  display: flex;
  line-height: 200px;
  font-size: 72px;
  font-family: serif;
}

.login-page-body-container {
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.login-main-image {
  object-fit: cover;
  flex: 0;
  filter: brightness(50%);
  position: fixed;
  z-index: 1;
}

.login-main-logo {
  z-index: 1;
  width: 250px;
  height: 250px;
  margin: 25px;
}

.login-page-box-container {
  z-index: 1;
}
