.login-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
  /* overflow: hidden; */
}

.login-main-image {
  object-fit: cover;
  flex: 0;
  /* height: 50%; */
  filter: brightness(50%);
  position: fixed;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  z-index: 1;
}
