.main-stock-table-container {
  display: flex;
  height: 95vh;
  width: 1200px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.main-stock-table {
  height: 90vh;
  width: 70vw;
  padding: 20;
}

.main-stock-table-row {
  justify-content: space-between;
}
